.card{
    width: 100%;
    max-width: 15em;
    background-color: var(--color-darkblue);
    border-radius: 0.8em;
    transition: transform 150ms ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.04);
    }
}

.header{
    border-radius: 0.8em;
    overflow: hidden;
}
.image{
    object-fit: cover;
}
.body{
    padding: 1em 1em 2em;
}
.title{
    text-align: center;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 1em;
    color: var(--color-turquoise);
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4;
}
.genre{
    font-size: 0.7em;
    padding: 0.5em 1em;
    background-color: var(--color-black);
    margin: 0.3em;
}